body{
    background-image: url(fonde.avif);
}
h1 {
    text-align: center;
    background: -webkit-linear-gradient(yellow,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;  
}

p { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; /* Cambia el tamaño de fuente del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    max-width: 600px; /* Establece un ancho máximo para el párrafo */
    padding: 20px; /* Agrega espaciado alrededor del párrafo */
    background-color: #f5b560; /* Cambia el color de fondo del párrafo */
    border-radius: 10px; /* Agrega esquinas redondeadas al párrafo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra alrededor del párrafo */
}

h3 {
    font-size: 250%;
    text-align: center;
    color:rgba(112, 54, 0, 0.877); /* Cambia el color del encabezado h3 */
}

h1, h2 {
    text-align: center;
    font-size: 500%;
    color: #333; /* Cambia el color de los encabezados h1 y h2 */
}

img {
    display: block; /* Hace que la imagen sea un bloque para centrarla */
            margin: 0 auto; /* Centra la imagen horizontalmente */
            max-width: 25%; /* Ajusta el tamaño máximo de la imagen */
            height: auto; /* Mantiene la proporción de aspecto de la imagen */
            border-radius: 10%;
        }
